extends layout

block content    
    .mt-3
            form(action="/register" method="POST")
                h2.mb-5= title
                .form-group
                    a.btn.btn-primary.btn-block(href="/twitter") Signup With Twitter
                hr
                .form-group
                    label(for="name") Name
                    input.form-control(type="text" name="name")
                .form-group
                    label(for="email") Email
                    input.form-control(type="email" name="email")
                .form-group
                    label(for="password") Password
                    input.form-control(type="password" name="password")
                .form-group
                    label(for="password-confirm") Confirm Password
                    input.form-control(type="password" name="password-confirm")
                .form-group
                    input.form-control.btn.btn-dark(type="submit" value="Register")