mixin searchForm()
    form.mt-5(action=`/search` method="GET")
        .form-row     
            .form-group.col-md-8
                input.form-control(type="text" name="address" id="address" placeholder="Enter Address")
            .form-group.col-md-2
                input.btn.btn-primary(type="submit" value="Search")